<!DOCTYPE html>
<!--
* STORMHEART - Houseparty Esports
* Build Date: March 2017
* Last Update: May 2017
* Author: Nutiler www.stormheart.net
* Copyright (C) 2017 STORMHEART | HOUSEPARTY
* -->
<html lang="en-us" class="no-js">

<head>
    <meta charset="utf-8">
    <title>STORMHEART | HOUSE PARTY</title>
    <meta name="description" content="TODO">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Nutiler">

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="../img/favicon.png">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="../img/favicon-retina-ipad.png">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="../img/favicon-retina-iphone.png">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="../img/favicon-standard-ipad.png">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="../img/favicon-standard-iphone.png">

    <!-- ============== Resources style ============== -->
    <link rel="stylesheet" type="text/css" href="../css/style-light.css" />
    <!-- Modernizr runs quickly on page load to detect features -->
    <script src="../js/modernizr.custom.js"></script>

</head>

<body>
    {{{body}}}

    <!-- /. Root element of PhotoSwipe. Must have class pswp. -->

    <!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
    <!-- ********** Resources jQuery ********** -->
    <!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->

    <!-- * Libraries jQuery, Easing and Bootstrap - Be careful to not remove them * -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.easings.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

    <!-- FullPage plugin -->
    <script src="../js/jquery.fullPage.js"></script>

    <!-- Countdown plugin -->
    <script src="../js/jquery.countdown.js"></script>

    <!-- Slideshow plugin -->
    <script src="../js/vegas.js"></script>

    <!-- Google Maps API -->
    {{!--<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>--}}


    <!-- Popup Newsletter Form -->
    <script src="../js/classie.js"></script>
    <script src="../js/dialogFx.js"></script>

    <!-- PhotoSwipe Core JS file -->
    <script src="../js/photoswipe.js"></script>

    <!-- PhotoSwipe UI JS file -->
    <script src="../js/photoswipe-ui-default.js"></script>

    <!-- Contact form plugin -->
    <script src="../js/contact-me.js"></script>

    <!-- Newsletter plugin -->
    <script src="../js/notifyMe.js"></script>

    <!-- Main JS File -->
    <script src="../js/main-light.js"></script>

</body>

</html>
