<form action="/auth/login" method="post">
    <label>USERNAME</label>
    <input type="text" class="form-control" name="username" id="login-username" required>
    <label>PASSWORD</label>
    <input type="password" class="form-control" name="hashed_password" id="login-password" required>
    <button type="submit" class="btn btn-lg">Login</button>
</form>
<a href="/auth/signup">Register</a>
    