

<form action="/auth/signup" method="post">
  <label>Username:</label>
  <input type="text"  name="username" id="login-username" required>
  <label>Email:</label>
  <input type="email" name="email" id="login-email" required>
  <label>Password:</label>
  <input type="password" name="hashed_password" id="login-password" required>
  <input type="checkbox" value="true" name="admin" id="admin">
  <button type="submit">Sign up</button>
</form>
<a href="/auth/login">Login</a>